$background-color-template : rgba(17, 24, 39, 1);
$word-color: rgba(255, 255, 255, 1);
$background-color-card: rgba(238, 241, 247, 1);

@import './base';

main{
    background-color: $background-color-template;
    color: $word-color;
    padding-top: 80px;
    padding-bottom: 50px;
    .section-footer{
        margin-top: 70px;
    }
    section{
        .section-header-p__title{
            @include fontBold();
            font-size: 56px;
            font-style: normal;       
        }
        .section-header-p__des{
            font-size: 18px;
            font-style: normal;  
        }
        .section-header-card{
            width: 310px;
            height: 373px;
            background-color: white;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 20px;
            border-radius: 10px;
            padding: 0px;

            &__top{
                background-color: $background-color-card;
                height: 203px;
                width: 310px;
                margin-left: 0px;
                
            }
            &__top-2{
                width: 49px !important; 
                height: 49px !important;
                border-radius: 18px;
                margin-top: 70px;
            }
            &__top-3{
                padding-top: 45px;
                height: 203px ;
            }
            &__top-4{
                width: 89px;
                height: 127px;
                padding-top: 39px;
            }
            &__bot{
                padding: 20px;
            }
            &__bot-title{
                color: $color-black;
                font-size: 28px;
                font-weight: bold;
            }
            &__bot-des{
                color: $color-black;
                font-size: 14px;
            }
        }
    }   
    @media only screen and (max-width: 768px) {
        p.section-header-p__title{
            font-size: 36px;
        }    
    }
    @media only screen and(max-width:568px) {
        p.section-header-p__title{
            font-size: 26px;
        } 
        div.section-header-card{
            width: 230px;
            height: 293px;
        }
        div.section-header-card__top{
            height: 133px;
        }   
        p.section-header-p__des{
            font-size: 12px;
        }
        
        p.section-header-card__bot-title{
            font-size: 22px;
        }
        p.section-header-card__bot-des{
            font-size: 12px;
        }
        div.section-header-card__top{
            width: 230px;
            height: 160px;
        }
        img.section-header-card__top-3{
            height: 160px ;
        }
        img.section-header-card__top-4{
            width: 65px;
            height: 120px ;
        }
    }
}



footer{
    margin-top: 175.68px;
    section{
        .section-footer__title{
            @include footer();
        }
    }
}